.header {
  height: 70px;
  background: blue;
  color: red;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

div{
  color: red;
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content: center;
}
div.logo {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  width: 10vw;
  border: 1px solid red;
}
div.cname {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif, sans-serif,Arial, Helvetica, sans-serif;
  font-style: revert;
  display: flex;
  width: 50vw;
  border: 1px solid red;
}
div.menu {
  margin: 10px;
  padding: 100px;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  width: 50vw;
  height: 5vh;
  justify-content: end;
  align-items: flex-end;
  border: 1px solid red;
  align-content: flex-end;
}

